[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = difftool
	dfw = diff --ignore-space-change
[color]
    status = auto
    branch = auto
    interactive = auto
    diff = auto
[core]
    editor = vim
    autocrlf = input
[user]
	email = Nick.Zhang2@emc.com
	name = Zhang Yu
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
    tool = vimdiff
[push]
	default = simple
[pull]
	rebase = true
